page-venueDetails {
    .noMargin {
        margin: 0px;
    }
    .noPadding {
        padding: 0px;
    }
    .fullHeight {
        height: 100%;
    }
    .fullWidth {
        width: 100%;
    }
    .blueFont{
        color: #02b1ef;
    }
    .greenFont {
        color: #29ca90;
    }
    .blueBackground{
        background-color: #02b1ef;
    }
    .centerAlign{
        text-align: center !important;
        margin: 0px auto;
    }


    ion-card {
        box-shadow: -6px 8px 10px -4px #999;
    }


    .swiper-pagination-bullet {
        background-color: #fff;
        opacity: 0.9;
    }
    .swiper-pagination-bullet-active {
        background-color: #02b1ef;
        opacity: 1;
    }
    
    .sellTicketsButton .button-inner{
        justify-content:flex-start;
    }
}
