<ion-header>

  <ion-navbar>
    <ion-title>Tickets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #fff;">

  <!-- beginning of cover photo -->
  <ion-row class="coverPhotoRow"> 
    <ion-col col-12 class="backgroundCol">
      
      <!-- action bar -->
      <div class="actionBar">  
        <div class="shareButtonWrapper">
          <ion-icon name="share-outline"></ion-icon>
        </div>
      </div>

      <!-- event text -->
      <div class="eventTextWrapper">
        <p class="presenterParagraph">{{item.presenter}} Presents:</p>
        <h2 class="noMargin">{{item.name}}</h2>
        <p class="noMargin">{{item.opener1}}, {{item.opener2}}</p>
      </div>

    </ion-col>

  </ion-row>
  <!-- end of cover photo -->


  <!-- 
    this is the tier accordion section with a counter to increment/decrement tickets
    the styling needs to be moved over to item-detail.scss and the counter needs 
    to be seperated for each category...not going to worry about that for now 
  -->
  <ion-list>
    <ion-item *ngFor="let t of tiers; let i=index" text-wrap [ngClass]="{active: isGroupShown(i)}" style="text-align: center; padding: 0px;">
      <h3 (click)="toggleGroup(i)" style="color: #aaa;">{{t.name}} - {{t.location}}</h3>
      <h5 *ngIf="isGroupShown(i)" (click)="toggleGroup(i)">${{t.price}} x 1</h5>

      <div *ngIf="isGroupShown(i)" style="color: #aaa; padding-top: 5%;">
        <button (click)="decrement()"><ion-icon name="md-remove" style="font-size: 48px; color: #02b1ef;"></ion-icon></button>  
          <h1 style="display: inline; font-size: 48px; margin-right: 5%; margin-left: 5%;">{{t.counter}}</h1>
        <button (click)="increment()"><ion-icon name="md-add" style="font-size: 48px; color: #02b1ef;"></ion-icon></button>
      </div>
      
    </ion-item>
  </ion-list>
  <!-- end -->

</ion-content>

<ion-footer style="background-color: #02b1ef; height: 40px;">
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col col-12 style="height: 100%;">
        <button ion-button full clear (click)="openItem(item)" style="margin: 0px; padding-left: 5px; height: 100%; color: #fff;">
          SELL {{counter}} TICKETS
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
