page-item-detail {
  .noMargin {
    margin: 0px;
  }
  .noPadding {
    padding: 0px;
  }

  //this is the cover photo background column
  .coverPhotoRow {
    border: 1px solid black;
    height: 35%;
  }
  .coverPhotoRow .backgroundCol {
    background-image: url("../assets/img/eventArt/coverPhoto/dillonCover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 0px;
  }
  //end of cover photo background column


  //beginning of action bar wrapper that contains close and share buttons
  .actionBar {
    color: #fff;
    font-size: 26px;
    height: 25%;
    padding: 0px;
    width: 100%;
  }
  //end of action bar wrapper styling


  //beginning of share button wrapper styling
  .shareButtonWrapper{
    color: inherit;
    float: right;
    height: 100%;
    margin: 0px;
    padding-right: 10px;
    text-align: right;
    width: 50%;
  }
  .shareButtonWrapper ion-icon {
    margin-top: 5%;
  }
  //end of share button wrapper styling


  //beginning of event text wrapper styling
  .eventTextWrapper {
    height: 100%;
    margin-left: 5px;
    margin-top: 5%;
    width: 100%;
  }
  //end of event text wrapper styling


  //beginning of presenter paragraph styling
  .presenterParagraph{
    margin-bottom: 5px;
  }
  //end of presenter paragraph styling

  .active {
    color: #02b1ef;
  }
}
