page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 25vh;
  }

  .item-detail {
    background-color: rgb(51,51,51);
    color: #fff;
    line-height: 50%;
    margin-bottom: 10%;
    padding-left: 15px;
    width: 100%;
  }
}
